* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#slideset1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  /* to slide up :
  top: 100%; left: 0;
  animation: 12s slideUp infinite ease-in-out;
*/
  /*to slide right*/
  top: 0%;
  left: 100%;
  animation: 15s slideRight infinite ease-in-out;
}

img {
  width: 100%;
  height: 100%;

}

@keyframes slideUp {
  0% {
    top: 100%
  }

  4% {
    top: 0%
  }

  33.33% {
    top: 0%
  }

  37.33% {
    top: -100%
  }

  100% {
    top: -100%
  }
}

@keyframes slideRight {
  0% {
    left: 100%
  }

  4% {
    left: 0%
  }

  33.33% {
    left: 0%
  }

  37.33% {
    left: -100%
  }

  100% {
    left: -100%
  }
}


.first {
  animation-delay: 0s;
}

.second {
  animation-delay: 5s;
}

.third {
  animation-delay: 10s;
}

.sliderH1 {
  width: 100%;
  font-size: 60px;
  position: absolute;
  z-index: 2;
  top: 25vh;
  text-align: center;
  color: white;
}

.navigation {
  position: absolute;
  top: 0;
  padding: 32px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contents {
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
}

.aboutHead {
  text-align: center;
  padding: 16px 10vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 3vh;
}

#wrap1{
  width: 100%;
  min-width: 80vw;
  padding:16px 10vh;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

#aboutQues{
  left: 0;
  font-size: 16px;
  float: left;
  padding-left: 32px;
}

.aboutPara {
  line-height: 24px;
  text-align: justify;
  align-items: center;
  font-family: "Montserrat", Cambria;
  padding: 16px 5vh;
  font-size: 16px;
  color: black;
  font-style: italic;
}

.aboutImg{
  width: 50%;
  height:40%;
  float: right;
  padding: 8px 5vh;
  align-items: center;
}