* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

#slideset1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  /* to slide up :
  top: 100%; left: 0;
  animation: 12s slideUp infinite ease-in-out;
*/
  /*to slide right*/
  top: 0%;
  left: 100%;
  animation: 15s slideRight infinite ease-in-out;
}

img {
  width: 100%;
  height: 100%;

}

@keyframes slideUp {
  0% {
    top: 100%
  }

  4% {
    top: 0%
  }

  33.33% {
    top: 0%
  }

  37.33% {
    top: -100%
  }

  100% {
    top: -100%
  }
}

@keyframes slideRight {
  0% {
    left: 100%
  }

  4% {
    left: 0%
  }

  33.33% {
    left: 0%
  }

  37.33% {
    left: -100%
  }

  100% {
    left: -100%
  }
}


.first {
  animation-delay: 0s;
}

.second {
  animation-delay: 5s;
}

.third {
  animation-delay: 10s;
}

.sliderH1 {
  width: 100%;
  font-size: 60px;
  position: absolute;
  z-index: 2;
  top: 25vh;
  text-align: center;
  color: white;
}

.navigation {
  position: absolute;
  top: 0;
  padding: 32px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contents {
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
}

.about {
  width: 100%;
  padding: 0 10vw;
  max-width: 1500px;
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
  padding-top: 32px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 32px 0;
}

.content {
  width: 55%;
}

.about_image {
  width: 45%;
}

.about_h1 {
  width: 100%;
  text-align: center;
  font-style: normal;
}

.about_bottom {
  font-style: normal;
  padding-bottom: 24px;
  font-size: 24px;
}